/* body {
  background-color: RoyalBlue;
} */
#container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom right, LightBlue, Blue);
}

header {
  font-family: 'Bebas Neue', cursive;
}

div {
  /* border-style: groove;
  border-color: DarkSlateGrey; */
}

.headerDiv {
  position: absolute;
  height: 12%;
  width: 94%;
  Top: 1%;
  left: 3%;
  /* background-color: MidnightBlue;
  box-shadow: 20px 20px 10px DarkBlue; */
  background-image: linear-gradient(to bottom right, MediumBlue, MidnightBlue);
  border-radius: 10px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3),
    -4px -4px 6px rgba(255, 255, 255, 0.3),
    inset 4px 4px 5px rgba(255, 255, 255, 0.3),
    inset -4px -4px 5px rgba(0, 0, 0, 0.3);
}

.headerText {
  font-size: 2.5em;
  line-height: 1;
  color: LightSteelBlue;
  text-align: center;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  color: DarkSlateGrey;
  padding-left: 5%;
  line-height: 0.5;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
  color: DarkSlateGrey;
  padding-left: 5%;
  line-height: 0.5;
}

p {
  font-family: 'Titillium Web', sans-serif;
  color: DarkSlateGrey;
  padding-left: 5%;
}

.one {
  position: absolute;
  height: 200px;
  width: 28%;
  top: 18%;
  left: 4%;
  background-image: linear-gradient(to bottom right, LightBlue, #00BFFF);
  border-radius: 10px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3),
    -4px -4px 6px rgba(255, 255, 255, 0.3),
    inset 4px 4px 5px rgba(255, 255, 255, 0.3),
    inset -4px -4px 5px rgba(0, 0, 0, 0.3);
  transition: all 1s;
  font-size: 0.5em;
  z-index: 0;
  /* box-shadow: 20px 20px 10px DarkBlue; */
}

/* New Code */
.class1 {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 150px;
  left: 300px;
  background-image: linear-gradient(to bottom right, LightBlue, DeepSkyBlue);
  border-radius: 10px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3),
    -4px -4px 6px rgba(255, 255, 255, 0.3),
    inset 4px 4px 5px rgba(255, 255, 255, 0.3),
    inset -4px -4px 5px rgba(0, 0, 0, 0.3);
}

/* New Code End */
.oneHover:hover {
  height: 400px;
  width: 60%;
  top: 15%;
  left: 3%;
  font-size: 1.5em;
  z-index: 1;
  border-radius: 5%;
  box-shadow: 32px 32px 6px rgba(0, 0, 0, 0.3),
    0px 0px 0px rgba(255, 255, 255, 0.3),
    inset 4px 4px 5px rgba(255, 255, 255, 0.3),
    inset -4px -4px 5px rgba(0, 0, 0, 0.3);
}

.two {
  position: absolute;
  height: 200px;
  width: 28%;
  top: 18%;
  left: 36%;
  background-image: linear-gradient(to bottom right, LightBlue, #00BFFF);
  border-radius: 10px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3),
    -4px -4px 6px rgba(255, 255, 255, 0.3),
    inset 4px 4px 5px rgba(255, 255, 255, 0.3),
    inset -4px -4px 5px rgba(0, 0, 0, 0.3);
  transition: all 2s;
  font-size: 0.5em;
  z-index: 0;
  /* box-shadow: 20px 20px 10px DarkBlue; */
}

.twoHover:hover {
  height: 400px;
  width: 60%;
  top: 15%;
  left: 20%;
  font-size: 1.5em;
  z-index: 1;
  border-radius: 5%;
  box-shadow: 32px 32px 6px rgba(0, 0, 0, 0.3),
    0px 0px 0px rgba(255, 255, 255, 0.3),
    inset 4px 4px 5px rgba(255, 255, 255, 0.3),
    inset -4px -4px 5px rgba(0, 0, 0, 0.3);
}

.thr {
  position: absolute;
  height: 200px;
  width: 28%;
  top: 18%;
  left: 68%;
  background-image: linear-gradient(to bottom right, LightBlue, #00BFFF);
  border-radius: 10px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3),
    -4px -4px 6px rgba(255, 255, 255, 0.3),
    inset 4px 4px 5px rgba(255, 255, 255, 0.3),
    inset -4px -4px 5px rgba(0, 0, 0, 0.3);
  transition: all 2s;
  font-size: 0.5em;
  z-index: 0;
  /* box-shadow: 20px 20px 10px DarkBlue; */
}

.thrHover:hover {
  height: 400px;
  width: 60%;
  top: 15%;
  left: 37%;
  font-size: 1.5em;
  z-index: 1;
  border-radius: 5%;
  box-shadow: 32px 32px 6px rgba(0, 0, 0, 0.3),
    0px 0px 0px rgba(255, 255, 255, 0.3),
    inset 4px 4px 5px rgba(255, 255, 255, 0.3),
    inset -4px -4px 5px rgba(0, 0, 0, 0.3);
}

.fou {
  position: absolute;
  height: 200px;
  width: 28%;
  top: 51%;
  left: 4%;
  background-image: linear-gradient(to bottom right, LightBlue, #00BFFF);
  border-radius: 10px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3),
    -4px -4px 6px rgba(255, 255, 255, 0.3),
    inset 4px 4px 5px rgba(255, 255, 255, 0.3),
    inset -4px -4px 5px rgba(0, 0, 0, 0.3);
  SkyBlue;
  transition: all 1s;
  font-size: 0.5em;
  z-index: 0;
  /* box-shadow: 20px 20px 10px DarkBlue; */
}

.fouHover:hover {
  height: 400px;
  width: 60%;
  top: 36%;
  left: 3%;
  font-size: 1.5em;
  z-index: 1;
  border-radius: 5%;
  box-shadow: 32px 32px 6px rgba(0, 0, 0, 0.3),
    0px 0px 0px rgba(255, 255, 255, 0.3),
    inset 4px 4px 5px rgba(255, 255, 255, 0.3),
    inset -4px -4px 5px rgba(0, 0, 0, 0.3);
}

.fiv {
  position: absolute;
  height: 200px;
  width: 28%;
  top: 51%;
  left: 36%;
  background-image: linear-gradient(to bottom right, LightBlue, #00BFFF);
  border-radius: 10px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3),
    -4px -4px 6px rgba(255, 255, 255, 0.3),
    inset 4px 4px 5px rgba(255, 255, 255, 0.3),
    inset -4px -4px 5px rgba(0, 0, 0, 0.3);
  transition: all 2s;
  font-size: 0.5em;
  z-index: 0;
  /* box-shadow: 20px 20px 10px DarkBlue; */
}

.fivHover:hover {
  height: 400px;
  width: 60%;
  top: 36%;
  left: 20%;
  font-size: 1.5em;
  z-index: 1;
  border-radius: 5%;
  box-shadow: 32px 32px 6px rgba(0, 0, 0, 0.3),
    0px 0px 0px rgba(255, 255, 255, 0.3),
    inset 4px 4px 5px rgba(255, 255, 255, 0.3),
    inset -4px -4px 5px rgba(0, 0, 0, 0.3);
}

.six {
  position: absolute;
  height: 200px;
  width: 28%;
  top: 51%;
  left: 68%;
  background-image: linear-gradient(to bottom right, LightBlue, #00BFFF);
  border-radius: 10px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3),
    -4px -4px 6px rgba(255, 255, 255, 0.3),
    inset 4px 4px 5px rgba(255, 255, 255, 0.3),
    inset -4px -4px 5px rgba(0, 0, 0, 0.3);
  transition: all 2s;
  font-size: 0.5em;
  z-index: 0;
  /* box-shadow: 20px 20px 10px DarkBlue; */
}

.sixHover:hover {
  height: 400px;
  width: 60%;
  top: 36%;
  left: 37%;
  font-size: 1.5em;
  z-index: 1;
  border-radius: 5%;
  box-shadow: 32px 32px 6px rgba(0, 0, 0, 0.3),
    0px 0px 0px rgba(255, 255, 255, 0.3),
    inset 4px 4px 5px rgba(255, 255, 255, 0.3),
    inset -4px -4px 5px rgba(0, 0, 0, 0.3);
}

footer {
  font-family: 'Bebas Neue', cursive;
}

.footerDiv {
  position: absolute;
  height: 12%;
  width: 94%;
  top: 86%;
  left: 3%;
  /* background-color: MidnightBlue;
  box-shadow: 20px 20px 10px DarkBlue; */
  background-image: linear-gradient(to bottom right, MediumBlue, MidnightBlue);
  border-radius: 10px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3),
    -4px -4px 6px rgba(255, 255, 255, 0.3),
    inset 4px 4px 5px rgba(255, 255, 255, 0.3),
    inset -4px -4px 5px rgba(0, 0, 0, 0.3);
}

.footerText {
  font-size: 1em;
  line-height: 4;
  color: LightSteelBlue;
  text-align: center;
}
