body {
  background-color: RoyalBlue;
}

header {
  font-family: 'Bebas Neue', cursive;
}

div {
  border-style: groove;
  border-color: DarkSlateGrey;
}

.headerDiv {
  position: absolute;
  height: 13%;
  width: 94%;
  left: 3%;
  background-color: MidnightBlue;
}

.headerText {
  font-size: 2.5em;
  line-height: 1;
  color: LightSteelBlue;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  color: DarkSlateGrey;
  padding-left: 5%;
  line-height: 0.5;
}

p {
  font-family: 'Titillium Web', sans-serif;
  color: DarkSlateGrey;
  padding-left: 5%;
}

.one {
  position: absolute;
  height: 200px;
  width: 30%;
  top: 15%;
  left: 3%;
  background-color: DeepSkyBlue;
  transition: all 1s;
  font-size: 0.5em;
  z-index: 0;
}

.one:hover {
  height: 400px;
  width: 60%;
  top: 15%;
  left: 3%;
  font-size: 2em;
  z-index: 1;
  border-radius: 5%;
}

.two {
  position: absolute;
  height: 200px;
  width: 30%;
  top: 15%;
  left: 35%;
  background-color: DeepSkyBlue;
  transition: all 2s;
  font-size: 0.5em;
  z-index: 0;
}

.two:hover {
  height: 400px;
  width: 60%;
  top: 15%;
  left: 20%;
  font-size: 2em;
  z-index: 1;
  border-radius: 5%;
}

.thr {
  position: absolute;
  height: 200px;
  width: 30%;
  top: 15%;
  left: 67%;
  background-color: DeepSkyBlue;
  transition: all 2s;
  font-size: 0.5em;
  z-index: 0;
}

.thr:hover {
  height: 400px;
  width: 60%;
  top: 15%;
  left: 37%;
  font-size: 2em;
  z-index: 1;
  border-radius: 5%;
}

.fou {
  position: absolute;
  height: 200px;
  width: 30%;
  top: 46%;
  left: 3%;
  background-color: DeepSkyBlue;
  transition: all 1s;
  font-size: 0.5em;
  z-index: 0;
}

.fou:hover {
  height: 400px;
  width: 60%;
  top: 36%;
  left: 3%;
  font-size: 2em;
  z-index: 1;
  border-radius: 5%;
}

.fiv {
  position: absolute;
  height: 200px;
  width: 30%;
  top: 46%;
  left: 35%;
  background-color: DeepSkyBlue;
  transition: all 2s;
  font-size: 0.5em;
  z-index: 0;
}

.fiv:hover {
  height: 400px;
  width: 60%;
  top: 36%;
  left: 20%;
  font-size: 2em;
  z-index: 1;
  border-radius: 5%;
}

.six {
  position: absolute;
  height: 200px;
  width: 30%;
  top: 46%;
  left: 67%;
  background-color: DeepSkyBlue;
  transition: all 2s;
  font-size: 0.5em;
  z-index: 0;
}

.six:hover {
  height: 400px;
  width: 60%;
  top: 36%;
  left: 37%;
  font-size: 2em;
  z-index: 1;
  border-radius: 5%;
}

footer {
  font-family: 'Bebas Neue', cursive;
}

.footerDiv {
  position: absolute;
  height: 13%;
  width: 94%;
  top: 85%;
  left: 3%;
  background-color: MidnightBlue;
}

.footerText {
  font-size: 1em;
  line-height: 4;
  color: LightSteelBlue;
  text-align: center;
}
